/* Osnovne nastavitve za telo strani */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Slog za glavo in logotip */
header {
    padding: 10px 20px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 20px;
}

h1 {
    flex-grow: 1;
    margin: 0;
    color: #333;
    font-size: 24px;
}

/* Splošni slog za vse stolpce */
.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.column {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
}

h2 {
    text-align: left;
}

/* Slog za posamezno vnosno polje in oznake */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"],
input[type="text"],
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Gumbi */
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.calculate-button {
    background-color: green;
    color: white;
}

.pdf-button {
    background-color: red;
    color: white;
}

.calculate-button:hover {
    background-color: lightgreen;
}

.pdf-button:hover {
    background-color: lightcoral;
}

/* Povzetek in prejemnik v okvirju */
.summary-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px; /* Dodan odmik na levi strani */
    margin-right: 20px; /* Dodan odmik na desni strani */
}

.summary,
.recipient-info {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 45%; /* Enaka širina kot zgornji stolpci */
}
#materialCostDisplay,
#cuttingCostDisplay,
#piercingCostDisplay,
#profitDisplay,
#totalCostDisplay {
    font-size: 18px;
    font-weight: bold;
}

/* Media query za manjše zaslone */
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    h1 {
        font-size: 20px;
    }

    .container {
        flex-direction: column;
        align-items: stretch;
        margin: 10px;
    }

    .column,
    .summary,
    .recipient-info {
        width: 100%;
        margin-bottom: 20px;
    }

    button {
        width: 100%;
        align-items: center;
    }
        /* Povzetek in prejemnik postavljena eden pod drugim */
    .summary-wrapper {
        flex-direction: column;
        align-items: stretch;
    }

}
